<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stream</title>
</head>
<body>
    <img id="live-stream" src="" alt="Live Stream">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

        socket.on('frame', function(data) {
            var img = document.getElementById('live-stream');
            img.src = 'data:image/jpeg;base64,' + btoa(String.fromCharCode.apply(null, new Uint8Array(data.image)));
        });
    </script>
</body>
</html>
